<h3>Imports</h3>

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import talib as ta

<h3>Reading the data</h3>

In [2]:
BTCUSDT = pd.read_csv('data/BTCUSDT.csv')
USDIRT = pd.read_csv('data/USDIRT.csv')
Wallex_USDIRT = pd.read_csv('data/Wallex_USDIRT.csv')

<h3>Seeing the data</h3>

In [3]:
BTCUSDT.head()

              Datetime  Unnamed: 0      Open      High       Low     Close
0  2022-01-09 09:56:00           0  41737.10  41765.87  41735.01  41764.98
1  2022-01-09 09:57:00           1  41764.99  41780.91  41764.98  41776.32
2  2022-01-09 09:58:00           2  41776.31  41788.43  41770.46  41788.43
3  2022-01-09 09:59:00           3  41788.42  41798.15  41779.17  41791.30
4  2022-01-09 10:00:00           4  41791.31  41803.34  41781.35       NaN

In [4]:
USDIRT.head()

,Datetime,Unnamed: 0,OPEN,HIGH,LOW,CLOSE,TICKVOL,VOL,SPREAD
0,2022-01-09 09:56:00,0,28209,28212,28208,NaN,51,0,57
1,2022-01-09 09:57:00,1,28210,28212,28208,28211.0,152,0,57
2,2022-01-09 09:58:00,2,28209,28241,28198,28210.0,150,0,56
3,2022-01-09 09:59:00,3,28210,28232,28208,28229.0,150,0,56
4,2022-01-09 10:00:00,4,28231,28232,28208,28218.0,140,0,56

In [5]:
Wallex_USDIRT.head()

              Datetime  Unnamed: 0     Open    Close     High      Low  Volume
0  2022-01-09 09:56:00           0  28697.0  28697.0  28697.0  28697.0  308.73
1  2022-01-09 09:57:00           1  28697.0  28697.0  28697.0  28697.0       ?
2  2022-01-09 09:58:00           2  28697.0  28697.0  28697.0  28697.0     0.0
3  2022-01-09 09:59:00           3  28697.0  28697.0  28697.0  28697.0     0.0
4  2022-01-09 10:00:00           4  28697.0  28697.0  28697.0  28697.0     0.0

In [6]:
BTCUSDT.describe()

         Unnamed: 0          Open          High           Low         Close
count  67206.000000  67206.000000  67206.000000  67206.000000  63846.000000
mean   33602.500000  33406.370502  33424.740652  33388.473725  33403.849831
std    19400.845433   8396.146912   8396.420894   8395.610786   8393.981104
min        0.000000  18054.160000  18116.550000  18054.150000  18101.070000
25%    16801.250000  28873.762500  28887.192500  28862.225000  28875.510000
50%    33602.500000  35822.775000  35840.005000  35809.155000  35816.200000
75%    50403.750000  40409.977500  40419.000000  40400.737500  40410.007500
max    67205.000000  48019.200000  48047.020000  47983.410000  48019.200000

In [7]:
USDIRT.describe()

,Unnamed: 0,OPEN,HIGH,LOW,CLOSE,TICKVOL,VOL,SPREAD
count,67206.000000,67206.000000,67206.000000,67206.000000,63846.000000,67206.000000,67206.0,67206.000000
mean,33602.500000,29235.575574,29239.351591,29231.844716,29233.275334,123.614276,0.0,45.399890
std,19400.845433,2161.600073,2162.022402,2161.162397,2162.120462,29.780076,0.0,17.024015
min,0.000000,25428.000000,25430.000000,25418.000000,25428.000000,1.000000,0.0,28.000000
25%,16801.250000,27574.000000,27575.000000,27572.000000,27573.000000,119.000000,0.0,32.000000
50%,33602.500000,28394.000000,28402.000000,28392.000000,28393.000000,130.000000,0.0,40.000000
75%,50403.750000,31562.000000,31570.000000,31559.000000,31561.000000,143.000000,0.0,48.000000
max,67205.000000,33206.000000,33206.000000,33203.000000,33205.000000,171.000000,0.0,104.000000

In [8]:
USDIRT.rename(columns={'OPEN':'Open', 'HIGH':'High', 'CLOSE':'Close', 'LOW':'Low'}, inplace=True)
USDIRT.head()

,Datetime,Unnamed: 0,Open,High,Low,Close,TICKVOL,VOL,SPREAD
0,2022-01-09 09:56:00,0,28209,28212,28208,NaN,51,0,57
1,2022-01-09 09:57:00,1,28210,28212,28208,28211.0,152,0,57
2,2022-01-09 09:58:00,2,28209,28241,28198,28210.0,150,0,56
3,2022-01-09 09:59:00,3,28210,28232,28208,28229.0,150,0,56
4,2022-01-09 10:00:00,4,28231,28232,28208,28218.0,140,0,56

In [9]:
Wallex_USDIRT.describe()

         Unnamed: 0          Open         Close          High           Low
count  67206.000000  67206.000000  67206.000000  67206.000000  67206.000000
mean   33602.500000  29514.923726  29515.144549  29525.188359  29504.490051
std    19400.845433   2330.254658   2330.226523   2331.952992   2328.196683
min        0.000000  25483.000000  25480.000000  25483.000000  25480.000000
25%    16801.250000  27744.000000  27742.250000  27750.000000  27736.000000
50%    33602.500000  29030.000000  29029.500000  29036.000000  29023.000000
75%    50403.750000  31899.000000  31900.000000  31905.000000  31890.000000
max    67205.000000  34088.000000  34069.000000  34088.000000  34069.000000

In [10]:
BTCUSDT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67206 entries, 0 to 67205
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Datetime    67206 non-null  object
 1   Unnamed: 0  67206 non-null  int64
 2   Open        67206 non-null  float64
 3   High        67206 non-null  float64
 4   Low         67206 non-null  float64
 5   Close       63846 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 3.1+ MB

In [11]:
USDIRT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67206 entries, 0 to 67205
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Datetime    67206 non-null  object
 1   Unnamed: 0  67206 non-null  int64
 2   Open        67206 non-null  int64
 3   High        67206 non-null  int64
 4   Low         67206 non-null  int64
 5   Close       63846 non-null  float64
 6   TICKVOL     67206 non-null  int64
 7   VOL         67206 non-null  int64
 8   SPREAD      67206 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 4.6+ MB

In [12]:
Wallex_USDIRT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67206 entries, 0 to 67205
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Datetime    67206 non-null  object
 1   Unnamed: 0  67206 non-null  int64
 2   Open        67206 non-null  float64
 3   Close       67206 non-null  float64
 4   High        67206 non-null  float64
 5   Low         67206 non-null  float64
 6   Volume      67206 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 3.6+ MB

In [13]:
BTCUSDT.isnull().sum()

Datetime         0
Unnamed: 0       0
Open             0
High             0
Low              0
Close         3360
dtype: int64

In [14]:
USDIRT.isnull().sum()

Datetime         0
Unnamed: 0       0
Open             0
High             0
Low              0
Close         3360
TICKVOL          0
VOL              0
SPREAD           0
dtype: int64

In [15]:
Wallex_USDIRT.isnull().sum()

Datetime      0
Unnamed: 0    0
Open          0
Close         0
High          0
Low           0
Volume        0
dtype: int64

<h3>Cleaning data</h3>

<p>removing 'Unnamed: 0' column from each table </p>

In [16]:
BTCUSDT.drop(columns='Unnamed: 0', inplace=True)
USDIRT.drop(columns='Unnamed: 0', inplace=True)
Wallex_USDIRT.drop(columns='Unnamed: 0', inplace=True)

<p>Filling each missing data with mean<p>

In [17]:
BTCUSDT['Close'].fillna(BTCUSDT['Close'].mean(), inplace=True)
BTCUSDT.isnull().sum()

Datetime    0
Open        0
High        0
Low         0
Close       0
dtype: int64

In [18]:
USDIRT.drop(columns='VOL', inplace=True)
USDIRT['Close'].fillna(USDIRT['Close'].mean(), inplace=True)
USDIRT.isnull().sum()

Datetime    0
Open        0
High        0
Low         0
Close       0
TICKVOL     0
SPREAD      0
dtype: int64

In [19]:
Wallex_USDIRT['Volume'].replace({'?': np.NAN}, inplace=True)
Wallex_USDIRT['Volume'] = Wallex_USDIRT['Volume'].astype(float)
Wallex_USDIRT['Volume'].fillna(Wallex_USDIRT['Volume'].mean(), inplace=True)
Wallex_USDIRT['Volume']

0         308.73000
1        1034.75943
2           0.00000
3           0.00000
4           0.00000
            ...
67201     206.61000
67202     207.04000
67203      40.79000
67204    1034.75943
67205      69.64000
Name: Volume, Length: 67206, dtype: float64

<h3>Creating data frame</h3>

In [20]:
features = pd.DataFrame(columns=['BTCUSDT_CCI', 'USDIRT_CCI', 'Wallex_USDIRT_CCI','BTCUSDT_RSI', 'USDIRT_RSI',
                            'Wallex_USDIRT_RSI','BTCUSDT_MACD', 'USDIRT_MACD', 'Wallex_USDIRT_MACD',
                            'Wallex_USDIRT_Avg_Volume_hour', 'Wallex_USDIRT_return','Tether/Dollar_close','Tether-Dollar/Tether_close','label' ])
features

Empty DataFrame
Columns: [BTCUSDT_CCI, USDIRT_CCI, Wallex_USDIRT_CCI, BTCUSDT_RSI, USDIRT_RSI, Wallex_USDIRT_RSI, BTCUSDT_MACD, USDIRT_MACD, Wallex_USDIRT_MACD, Wallex_USDIRT_Avg_Volume_hour, Wallex_USDIRT_return, Tether/Dollar_close, Tether-Dollar/Tether_close, label]
Index: []

<h3>Making Features</h3>

In [21]:
df = pd.DataFrame(columns=['TP', 'sma', 'mad'])
df

Empty DataFrame
Columns: [TP, sma, mad]
Index: []

<b><h4>1.CCI</h4></b>

In [22]:
def CCI(table, column):
    df['TP'] = (table['High'] + table['Low'] + table['Close']) / 3 
    df['sma'] = df['TP'].rolling(20).mean()
    df['mad'] = df['TP'].rolling(20).apply(lambda x: pd.Series(x).mad())
    features[column] = (df['TP'] - df['sma']) / (0.015 * df['mad'])
    features[column].fillna(features[column].mean(), inplace=True)

In [23]:
CCI(BTCUSDT, 'BTCUSDT_CCI')
CCI(USDIRT, 'USDIRT_CCI')
CCI(Wallex_USDIRT, 'Wallex_USDIRT_CCI')

<b><h4>2.RSI</h4></b>

In [24]:
def RSI(table, column):
    features[column] = ta.RSI(table['Close'], timeperiod=20)
    features[column].fillna(features[column].mean(), inplace=True)

In [25]:
RSI(BTCUSDT, 'BTCUSDT_RSI')
RSI(USDIRT, 'USDIRT_RSI')
RSI(Wallex_USDIRT, 'Wallex_USDIRT_RSI')

<b><h4>3.MACD</h4><b>

In [26]:
def MACD(table, column):
    k = table['Close'].ewm(span=12, adjust=False, min_periods=12).mean()
    d = table['Close'].ewm(span=26, adjust=False, min_periods=26).mean()
    macd = k - d
    features[column] = table.index.map(macd)
    features[column].fillna(features[column].mean(), inplace=True)

In [27]:
MACD(BTCUSDT, 'BTCUSDT_MACD')
MACD(USDIRT, 'USDIRT_MACD')
MACD(Wallex_USDIRT, 'Wallex_USDIRT_MACD')

<b><h4>4.The average volume of Tether transactions in the past hour</h4><b>

In [28]:
features['Wallex_USDIRT_Avg_Volume_hour'] = Wallex_USDIRT['Volume'].rolling(61).mean()
features['Wallex_USDIRT_Avg_Volume_hour'].fillna(features['Wallex_USDIRT_Avg_Volume_hour'].mean(), inplace=True)

<b><h4>5.Tether's return in a min</h4><b>

In [29]:
features['Wallex_USDIRT_return'] = Wallex_USDIRT['Close'] - Wallex_USDIRT['Open']
features['Wallex_USDIRT_return']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
         ...
67201     10.0
67202    101.0
67203      1.0
67204      0.0
67205      0.0
Name: Wallex_USDIRT_return, Length: 67206, dtype: float64

<b><h4>6.Tether/Dollar_close</h4><b>

In [30]:
features['Tether/Dollar_close'] = Wallex_USDIRT['Close'] / USDIRT['Close']
features['Tether/Dollar_close']

0        0.981655
1        1.017227
2        1.017263
3        1.016579
4        1.016975
           ...
67201    1.017758
67202    1.017308
67203    1.017467
67204    1.017404
67205    1.017498
Name: Tether/Dollar_close, Length: 67206, dtype: float64

<b><h4>7.Tether-Dollar/Tether_close</h4><b>

In [31]:
features['Tether-Dollar/Tether_close'] = ( Wallex_USDIRT['Close'] - USDIRT['Close'] ) / Wallex_USDIRT['Close']
features['Tether-Dollar/Tether_close']

0       -0.018688
1        0.016936
2        0.016970
3        0.016308
4        0.016692
           ...
67201    0.017448
67202    0.017013
67203    0.017168
67204    0.017106
67205    0.017197
Name: Tether-Dollar/Tether_close, Length: 67206, dtype: float64

In [32]:
features

,BTCUSDT_CCI,USDIRT_CCI,Wallex_USDIRT_CCI,BTCUSDT_RSI,USDIRT_RSI,Wallex_USDIRT_RSI,BTCUSDT_MACD,USDIRT_MACD,Wallex_USDIRT_MACD,Wallex_USDIRT_Avg_Volume_hour,Wallex_USDIRT_return,Tether/Dollar_close,Tether-Dollar/Tether_close,label
0,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,0.981655,-0.018688,NaN
1,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.017227,0.016936,NaN
2,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.017263,0.016970,NaN
3,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.016579,0.016308,NaN
4,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.016975,0.016692,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67201,-41.516339,18.613823,77.028571,48.573481,51.087224,53.914708,435.721738,58.823113,7.939929,826.976557,10.0,1.017758,0.017448,NaN
67202,-41.349695,30.077834,15.712682,48.581501,51.259577,54.343479,267.844002,59.775254,10.595143,822.417213,101.0,1.017308,0.017013,NaN
67203,-40.948825,34.893726,90.924342,48.588552,51.212089,54.343479,133.648009,59.441174,12.554698,813.953115,1.0,1.017467,0.017168,NaN
67204,-40.979371,35.989133,86.350662,48.577133,51.231112,54.343479,26.359433,58.661581,13.946887,807.394253,0.0,1.017404,0.017106,NaN
67205,-40.903632,36.183999,84.495488,48.579742,51.220601,54.508032,-57.870528,57.302510,15.038240,806.710319,0.0,1.017498,0.017197,NaN

<h3>Making Labels</h3>

In [33]:
label = []
for i in range(0, Wallex_USDIRT.shape[0] - 1):
    if Wallex_USDIRT.loc[i, 'Close'] < Wallex_USDIRT.loc[i + 1, 'Close']:
        label.append('1')
    else:
        label.append('0')
label.append('0')
features['label'] = label

<h3>Resampling</h3>

In [34]:
label_z = features[features['label'] == '0']
label_o = features[features['label'] == '1']

In [35]:
label_o_upsampled = label_o.sample(n=len(label_z), replace=True ,  random_state=42)

In [36]:
data_upsampled = pd.concat([label_z, label_o_upsampled])
data_upsampled.reset_index(drop=True, inplace=True)
data_upsampled

,BTCUSDT_CCI,USDIRT_CCI,Wallex_USDIRT_CCI,BTCUSDT_RSI,USDIRT_RSI,Wallex_USDIRT_RSI,BTCUSDT_MACD,USDIRT_MACD,Wallex_USDIRT_MACD,Wallex_USDIRT_Avg_Volume_hour,Wallex_USDIRT_return,Tether/Dollar_close,Tether-Dollar/Tether_close,label
0,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,0.981655,-0.018688,0
1,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.017227,0.016936,0
2,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.017263,0.016970,0
3,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.016579,0.016308,0
4,0.252693,0.136802,2.004805,49.957650,50.036012,50.210725,-1.796192,0.332879,0.403455,1035.051217,0.0,1.016975,0.016692,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88115,21.012081,-8.691705,122.383846,51.647272,49.138322,58.631005,156.556259,-24.127891,17.172694,1326.371466,2.0,0.999664,-0.000336,1
88116,-10.202486,-71.301644,-41.889917,49.863325,47.744788,38.778466,210.245488,-22.299057,-38.496608,980.002112,0.0,1.019366,0.018998,1
88117,50.018852,-141.238671,-213.095922,52.207592,49.080810,38.142870,86.785697,-6.725983,-31.205131,558.529480,0.0,1.001305,0.001303,1
88118,27.240615,26.548266,-143.055280,49.786612,51.147751,39.265608,39.625054,-91.999467,-11.970129,925.152768,-17.0,0.997017,-0.002992,1
88119,-43.772259,53.887606,-303.875969,51.093155,48.617145,37.023857,114.467086,-6.250398,1.112351,413.193105,-10.0,0.995813,-0.004205,1

In [37]:
ndata = data_upsampled.sample(frac=1 , random_state=42)
ndata.reset_index(drop=True, inplace=True)
ndata

,BTCUSDT_CCI,USDIRT_CCI,Wallex_USDIRT_CCI,BTCUSDT_RSI,USDIRT_RSI,Wallex_USDIRT_RSI,BTCUSDT_MACD,USDIRT_MACD,Wallex_USDIRT_MACD,Wallex_USDIRT_Avg_Volume_hour,Wallex_USDIRT_return,Tether/Dollar_close,Tether-Dollar/Tether_close,label
0,-30.433935,33.470833,30.839002,48.829822,51.149557,52.587936,-224.750504,61.730238,-1.914280,848.537358,87.0,1.012176,0.012030,0
1,-37.785282,72.332326,94.316443,48.257480,55.712026,65.639597,-467.995076,77.416644,53.604659,754.979490,0.0,1.010890,0.010773,0
2,105.275459,-42.553191,72.124756,51.340059,48.784788,49.511595,40.167613,-32.022492,1.077380,644.965710,-11.0,0.996354,-0.003660,0
3,-90.680869,44.581742,213.668061,48.400133,51.456617,59.528241,-38.966598,-87.078546,3.438470,748.582750,1.0,1.001430,0.001428,1
4,-115.376381,-319.334125,75.357050,47.950879,39.038687,51.965857,-125.060754,-44.042447,10.162833,3987.114033,7.0,1.084381,0.077815,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88115,38.202101,6.469238,19.223431,51.367495,49.461434,51.283619,-250.366735,-4.171027,-2.648667,1155.302614,0.0,0.994508,-0.005522,0
88116,27.384000,-137.131614,-31.731709,51.018146,47.954546,49.048525,107.220036,-26.770554,-0.312086,1249.525391,0.0,0.999275,-0.000725,1
88117,63.562755,363.540011,-66.921050,51.760455,52.933400,42.640841,320.128616,2.923626,-19.502695,665.034881,0.0,0.995485,-0.004536,1
88118,-43.102028,-36.430484,58.041838,48.726482,48.003338,54.389610,-32.699030,61.903864,37.380920,1753.221766,-16.0,1.020464,0.020054,0
88119,46.536345,-105.391324,76.881893,51.655561,46.431926,53.071094,239.415707,-34.034266,-5.838976,989.299963,0.0,0.998239,-0.001764,0

In [38]:
ndata['label'].value_counts()

0    44060
1    44060
Name: label, dtype: int64

In [39]:
X = ndata.drop(columns=['label'])
y = ndata['label']

In [40]:
px.imshow(X.corr())

<h3>Split data</h3>

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

<h3>Scaling data</h3>

In [42]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [43]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
scores = cross_val_score(RandomForestClassifier(), X_train_scaled, y_train, cv=5)
print("CV score of Random forest Classifier: " , scores.mean())

CV score of Random forest Classifier:  0.8036909845726194

In [42]:
rf_params = {
    "n_estimators" : [50, 100, 200, 1000] , 
    "min_samples_split" : [6, 10 , 15], 
    "min_samples_leaf" : [2, 4, 7] , 
    "max_depth" : np.arange(5 , 51 , 5),
    "bootstrap" : [True, False] 
}

In [43]:
from sklearn.model_selection import RandomizedSearchCV
rf_random = RandomizedSearchCV(estimator = RandomForestClassifier(), param_distributions = rf_params, 
                                n_iter = 20, cv = 4,n_jobs=-1, random_state=42)
# Fit the random search model
rf_random.fit(X_train_scaled, y_train)

RandomizedSearchCV(cv=4, estimator=RandomForestClassifier(), n_iter=20,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]),
                                        'min_samples_leaf': [2, 4, 7],
                                        'min_samples_split': [6, 10, 15],
                                        'n_estimators': [50, 100, 200, 1000]},
                   random_state=42)

In [44]:
rf_random.best_params_

{'n_estimators': 1000,
 'min_samples_split': 6,
 'min_samples_leaf': 4,
 'max_depth': 40,
 'bootstrap': False}

In [44]:
model = RandomForestClassifier(max_depth= 40, min_samples_leaf= 4, n_estimators= 1000, min_samples_split=6,bootstrap=False)
model.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=False, max_depth=40, min_samples_leaf=4,
                       min_samples_split=6, n_estimators=1000)

In [45]:
from sklearn.metrics import classification_report
pred = model.predict(X_test_scaled)
print(classification_report(pred, y_test))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84      8478
           1       0.86      0.83      0.84      9146

    accuracy                           0.84     17624
   macro avg       0.84      0.84      0.84     17624
weighted avg       0.84      0.84      0.84     17624